
.css-transitions-only-after-page-load * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }

.gridstyle {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.1fr 5fr 0.95fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    height: 100vh;
    grid-auto-flow: row;
    grid-template-areas:
      "navbar"
      "details"
      "center"
      "footer";
  }
  
  .navbar {
    display: grid; 
    grid-template-columns: 0.070fr 1.8fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "details-logo details-title"; 
    grid-area: navbar; 
    background: #302B27;
  }
  .details-logo { grid-area: details-logo; }
  .details-title { grid-area: details-title; }
  
  .details {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "return-box center-box right-box"; 
    grid-area: details; 
    background: #7D1128;
  }
  .return-box { grid-area: return-box; }
  .center-box { grid-area: center-box; }

  .center {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 0.55fr 0.2fr 0.2fr; 
    gap: 0px 20px; 
    grid-template-areas: 
      ". centerOverhead centerOverhead ."
      ". center-listL center-listR ."
      ". center-bottom center-bottom ."; 
    grid-area: center;
    background: #302B27;
  }

  .centerOverhead{
    grid-area: centerOverhead;
  }
  .center-listL {
     grid-area: center-listL;
     }
  .center-listR { grid-area: center-listR; }

  .center-bottom{
    grid-area: center-bottom;
  }

  #quizButton{
    margin-top: 5vh;
    margin-left: 13vw;
  }
  
  .footer {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "F1 F2 F3"
      "F1 F2 F3"
      "F1 F2 F3";
    grid-area: footer;
    background: #7D1128;
  }
  
  .F1 { grid-area: F1; }
  
  .F2 {
     grid-area: F2;
     display: grid;
     place-items: center;
     }
  
  .F3 { grid-area: F3; }

  

  #detailsTitle{
    color: #F4F2F3;
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
    padding-top: 2vh;
  }

  #detailsLogo{
    padding-left: 0.5vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    width: 3em;
  }

#titleThin{
    font-weight: normal;
}

hr{
    color:#F4F2F3;
    margin: 0px;
    opacity: 50%;
    white-space: none;
}

#cbTitle{
    color: #F4F2F3;
    font-family: 'Catamaran', sans-serif;
    font-weight: none;
    text-align: center;
    padding: 0.5em;
}

.centerOverheadTitle{
  color: #F4F2F3;
  font-family: 'Catamaran', sans-serif;
  font-weight: bold;
  font-size: 2em;
  padding-top: 13vh;
}

.centerOverheadPara{
  color: #F4F2F3;
  font-family: Karla;
  font-size: 18px;
  padding-bottom: 2.5vh;
}

#overheadBR{
  margin-bottom: 2vh;
}

.LinkBox{
    grid-area: center;
    width:28em;
    background:#7D1128;
    color:#F4F2F3;
    font-family: 'Catamaran', sans-serif;
    font-weight: none;
    font-size: 16px;
    padding: 1em;
    transition: ease 0.5s;
    margin-bottom: 1.5em;
}

.LinkBox:hover{
    border-color:#F4F2F3;
    background: #F4F2F3;
    color: #7D1128;
    font-size: 17px;
    box-shadow: #F4F2F3 0px 0px 0px 2px inset, #7D1128 10px -10px 0px -3px, #7D1128 10px -10px;
}


#footerLogo{
  width: 3em;
  padding-top: 2vh;
}

#footer2Title{
  color:#F4F2F3;
  font-family: 'Catamaran', sans-serif;
  padding-bottom: 3vh;
}